body{
    background-color:hsl(47, 88%, 63%);
    align-content: center;
}
#alpha{
    background-color: white;
    border-radius: 5%;
    border:2px solid black;
    height:500px;
    width:300px;
    margin:0;
    position:absolute;
    top:10%;
    left:35%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    box-shadow:10px 10px;
    padding-left: 10px;
    padding-top: 30px;
    margin:50px;
}
/*#b{
    display:flex;
    direction:row;

    }*/

button{
    height:"10px";
    width:"50px";
    background-color: hsl(47, 88%, 63%);
    border-style: none;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 7%);
}
a:active{
    text-decoration: none;
    color: hsl(47, 88%, 63%);
    cursor: pointer;
    caret-color: black;
}
#logo{
    border:4px solid black;
   
}
para{
    color: hsl(0, 0%, 50%);
}
@media(max-width:376 px){
#alpha{position:absolute;
top:10px;
right:10%;
}
}